/* Estilos minimos globales */
*, *::before, *::after,
*:before, *:after{
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #242424;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 5px 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
footer{
  bottom: 0;
  width:100%;
  text-align: center;
  background-color: #4D4D4D;
  color: #FFFF;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 18px;
  padding: 5px;
}

span{

  bottom: 0;
  width:100%;
  text-align: center;
  color: #FFFF;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 18px;
  padding: 5px;
}


