<!-- Estructura HTML de componente song-list -->

<html>
  <div class="header">
    <a routerLink="/songlist">PLAYSOUND</a>
  </div>
  <div class="center-peke">
    <div>
      <input
        type="text"
        class="finder-song"
        placeholder="Comienza a escuchar tus canciones favoritas"
        [(ngModel)]="textSong"
        name="textSong"
      />
    </div>
    <div>&nbsp;</div>


    <div class="container text-center">
      <div class="row">
        <div class="col-7"></div>
        <div class="col-2 me-3">
          <select [(ngModel)]="artistSelected" name="filtrar" id="filtrar">
            <option value="">Selecciona Artista</option>
            <option *ngFor="let artist of artists" value="{{ artist }}">
              {{ artist }}
            </option>
          </select>
        </div>

        <div class="col-2 ms-3">
          <select [(ngModel)]="genereSelected" name="filtrar" id="filtrar">
            <option value="">Selecciona Género</option>
            <option *ngFor="let genere of generes" value="{{ genere }}">
              {{ genere }}
            </option>
          </select>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-12">&nbsp;</div>
      </div>
    </div>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Título</th>
          <th>Artista</th>
          <th>Género</th>
          <th>Duración</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let s of songs | filtro: textSong:artistSelected:genereSelected">
          <td>
            <b (click)="setSong(s)">{{ s.title }}</b>
          </td>
          <td>{{ s.artist }}</td>
          <td>{{ s.genres }}</td>
          <td>{{ s.duration }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="songSelected.id > 0">
    <app-song [song]="songSelected"></app-song>
    <app-interfaz-reproductor [source]="songSelected.source"></app-interfaz-reproductor>
  </div>

  <footer>
    <p>Pinpilinpauxa © 2022</p>
  </footer>
</html>
